@import "../../styles/variables.scss";


#bulding-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 78%;
    padding: 1rem;
    background-color: $main-box-color;
    box-shadow: $main-box-shadow;

}

// .building-icon-holder {
//     width: 5rem;
//     height: 5rem;
// }


.main-info {
    // width: 80%;
    flex-grow: 2;
    h2 {
        font-size: 1.5rem;
        font-weight:600;
    }
    h3 {
        font-size: 1rem;
        opacity: 0.7;
    }
    .adress-holder {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    .icons-style {
        height: 1.4rem;
    }
    .divider {
        width: 100%;
        height: 0.1rem;
        background-color: black;
        opacity: 0.2;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
}
.icon-edit {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.extra-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;

    .info-icons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        opacity: 0.8;
    }
    .info-icons-styles{
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        align-items: center;
    }
    .cirlce-green {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: rgb(0, 204, 0);
    }
    
}

.buildingIcon path {
    fill: $blue-color;
}