@import './variables.scss';

.primery-btn {
    display: flex;
    gap: 0.5rem;
    color: white;
    border-radius: 1.5rem;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(2,174,241,1) 0%, rgba(0,110,240,1) 100%);
    box-shadow: $main-box-shadow;
    border: none;

}



.icon-add {
    width: 20px;
    height: 20px;
    background-image: url(../assets/navigation_icons/134224_add_plus_new_icon.svg);
}
.icon-building {
    width: 6.6rem;
    height: 7rem;
    background-size: cover;
    background-image: url(../assets/appearance_icons/commercial-building.svg) ;
  
}
.icon-floors {
    width: 7rem;
    height: 7rem;
    background-size: cover;
    background-image: url(../assets/appearance_icons/icon_floor.svg) ;
  
}
.cursor-pointer{
    cursor: pointer;
}