$font-weight-bold: 800;
$font-size-small: 1.2rem;
$font-size-normal: 1.6rem;
$font-size-between: 2rem;
$font-size-medium: 2.4rem;
$font-size-big: 3.2rem;
$font-size-large: 4.8rem;
$font-size-huge: 6rem;

$btn-default-color: linear-gradient(90deg, rgba(2,174,241,1) 0%, rgba(0,110,240,1) 100%);


$main-backgound-color: #f5f6f8;
$main-box-color: #fdfdfd;
$main-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.3);
$blue-color: #6dabdb;

$padding: 1.2rem;

$margin-between-main-group-elements: 2rem;